= bootstrap_form_for(@platform_category, html: {class: 'form-horizontal'}) do |f|

  = f.text_field :title, class: 'form-control'
  = f.text_field :pos, class: 'form-control'
  %br
  = f.actions
  %br
