/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.nowrap {
  white-space: nowrap;
}

.b-teaser_share .b-share {
  display: block;
  direction: rtl;
}
.b-teaser_share .b-share-icon_vkontakte {
  background: 0 0;
}

.b-teaser_share .b-share-icon_vkontakte {
  background: -20px 0;
}

.b-teaser_share .b-share-icon_twitter {
  background: -40px 0;
}

.b-teaser_share .b-share-icon_odnoklassniki {
  background: -80px 0;
}

.b-teaser_share .b-share-icon, .b-teaser_share .b-share__text {
  background: url('social_icons.png') 100% 0 no-repeat;
}

.b-teaser_share .b-share-icon {
  float: none;
  display: inline-block;
  width: 20px;
  height: 20px;
}