-# Rails flash messages styled for Bootstrap 3.0
- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div{:class => "fade-flash alert alert-#{name == :notice ? "success" : "danger"}"}
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      = content_tag :div, msg, :id => "flash_#{name}"
- unless flash.blank?
  :javascript
    $(function() {
       $('.fade-flash').delay(500).fadeIn('normal', function() {
          $(this).delay(4000).fadeOut();
       });
    });